#### Pandas techniques used:
* df.drop()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
* df.columns[]
* df.melt()
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html
* df.str.split()
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
* df.astype()
https://www.geeksforgeeks.org/change-data-type-for-one-or-more-columns-in-pandas-dataframe/ (Method 1, using dicts)
* df.column.str.strip()
* df.column.str.lstrip()
* df.column.str.rstrip()
* df.column.str.replace()
* df.rename()
* pd.set_option()
* pd.reset_option()

Insert a df.to_csv() into code to manually inspect entire dataset during cleaning process if stuck on debugging something.

#### Key Take-away Lessons:
1. Text hiding in columns entries of continuous variables with many rows is VERY difficult to detect.
    * .unique() will not work
    * consider alternative techniques
        * e.g. checking str length and looking for abnormalities

In [2]:
# Importing relevant libraries
import os as os
import pandas as pd

In [3]:
# Setting file path
os.chdir(r'C:\Users\silas\Documents\.EDUCATION\_DATASETS\DATA CLEANING PRACTICE\WHO Obesity Rate Dataset')
os.getcwd()

'c:\\Users\\silas\\Documents\\.EDUCATION\\_DATASETS\\DATA CLEANING PRACTICE\\WHO Obesity Rate Dataset'

In [4]:
# Importing raw data
rawdata = pd.read_csv('raw-data.csv')
rawdata

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,NaN,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...",...,"Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great...","Prevalence of obesity among adults, BMI &Great..."
1,NaN,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,...,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years,18+ years
2,Country,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [5]:
# Dropping first three rows
rawdata.drop([0,1,2], axis= 0, inplace= True)
#   axis= 0, means drop rows; axis= 1, means drop columns
#   inplace= True, means make changes to the df stored in the variable
#   inplace= False, creates new df with changes
#                   original df in variable unchanged
rawdata

,Unnamed: 0,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
3,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4],5.2 [3.3-7.7],3.0 [1.3-6.0],7.3 [4.1-11.8],4.9 [3.1-7.3],2.8 [1.2-5.6],7.0 [4.0-11.3],...,0.9 [0.3-2.2],0.6 [0.2-1.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.5 [0.2-1.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.5 [0.2-1.1],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9],21.1 [16.6-26.0],20.9 [14.4-28.1],21.3 [15.1-28.1],20.5 [16.2-25.1],20.2 [13.9-27.3],20.8 [14.9-27.4],...,9.1 [4.6-15.5],6.8 [4.0-10.7],4.8 [2.0-9.3],8.9 [4.3-15.4],6.7 [3.8-10.6],4.6 [1.8-9.2],8.8 [4.1-15.4],6.5 [3.6-10.5],4.4 [1.7-9.2],8.6 [3.9-15.4]
5,Algeria,27.4 [22.5-32.7],19.9 [13.6-27.1],34.9 [27.6-42.7],26.7 [21.9-31.8],19.2 [13.2-26.1],34.2 [27.1-41.7],26.0 [21.4-30.9],18.5 [12.7-25.0],33.6 [26.7-40.7],...,11.8 [6.5-18.6],7.4 [4.3-11.3],3.1 [1.2-6.2],11.4 [6.2-18.4],7.2 [4.1-11.1],2.9 [1.1-6.1],11.1 [5.8-18.2],6.9 [3.9-10.9],2.8 [1.0-6.0],10.7 [5.5-18.0]
6,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7],25.4 [20.1-31.0],25.5 [17.8-33.8],25.2 [17.7-33.4],25.2 [20.0-30.7],25.2 [17.6-33.3],25.1 [17.8-33.1],...,17.5 [10.9-25.3],14.0 [9.6-19.1],10.7 [5.6-17.4],16.9 [10.4-24.8],13.5 [9.1-18.6],10.2 [5.2-16.9],16.4 [9.8-24.4],12.9 [8.6-18.1],9.7 [4.7-16.3],15.8 [9.2-23.9]
7,Angola,8.2 [5.1-12.2],4.0 [1.6-7.9],12.1 [6.8-19.0],7.9 [4.9-11.7],3.8 [1.5-7.3],11.6 [6.5-18.2],7.5 [4.7-11.2],3.6 [1.4-6.9],11.1 [6.2-17.5],...,1.6 [0.5-3.7],0.9 [0.3-2.0],0.3 [0.0-0.9],1.5 [0.4-3.6],0.9 [0.3-2.0],0.3 [0.0-0.9],1.4 [0.4-3.5],0.8 [0.3-1.9],0.2 [0.0-0.8],1.4 [0.4-3.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),25.6 [21.3-30.2],22.4 [16.4-28.9],28.6 [22.5-35.2],25.2 [21.0-29.5],22.0 [16.2-28.2],28.3 [22.4-34.6],24.8 [20.8-29.0],21.5 [16.0-27.4],27.9 [22.2-34.1],...,14.4 [8.4-21.4],10.3 [6.7-14.6],6.6 [3.2-11.7],14.0 [8.0-21.3],9.9 [6.3-14.3],6.3 [2.9-11.5],13.6 [7.5-21.0],9.6 [5.9-14.1],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,2.1 [1.4-3.1],1.6 [0.8-2.8],2.6 [1.5-4.2],2.0 [1.3-2.9],1.5 [0.8-2.5],2.4 [1.4-3.9],1.8 [1.2-2.6],1.3 [0.7-2.3],2.3 [1.3-3.6],...,0.2 [0.1-0.6],0.2 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.1-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.3],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,17.1 [13.3-21.3],12.0 [7.3-17.6],22.0 [16.0-28.4],16.5 [12.9-20.5],11.4 [7.0-16.7],21.3 [15.6-27.4],15.9 [12.4-19.6],10.8 [6.7-15.7],20.6 [15.2-26.4],...,4.8 [2.0-9.3],3.1 [1.5-5.7],1.3 [0.4-3.3],4.5 [1.9-9.2],2.9 [1.4-5.6],1.3 [0.3-3.2],4.3 [1.7-9.0],2.8 [1.3-5.4],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,8.1 [5.8-10.7],3.6 [1.7-6.5],12.4 [8.5-17.1],7.7 [5.6-10.2],3.4 [1.6-6.1],12.0 [8.2-16.4],7.4 [5.4-9.8],3.2 [1.5-5.7],11.5 [7.9-15.7],...,3.0 [1.3-5.6],1.7 [0.8-3.2],0.5 [0.1-1.5],2.9 [1.2-5.4],1.6 [0.7-3.1],0.5 [0.1-1.4],2.7 [1.1-5.3],1.5 [0.7-3.0],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,15.5 [12.0-19.2],4.7 [2.5-8.0],25.3 [19.1-32.0],15.2 [11.9-18.8],4.5 [2.4-7.6],24.8 [18.9-31.3],14.9 [11.7-18.4],4.4 [2.4-7.3],24.4 [18.8-30.6],...,7.7 [3.9-13.1],4.0 [2.1-6.8],0.5 [0.1-1.3],7.4 [3.6-12.7],3.9 [1.9-6.7],0.5 [0.1-1.3],7.0 [3.3-12.4],3.7 [1.7-6.5],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [6]:
# Dropping year columns without .1 and .2
rawdata.drop(rawdata.columns[1::3], axis= 1, inplace= True)
#Starting with the first column till the end, drop every 3rd column.
#   e.g. drop, 1, 2, drop, 1, 2, drop,...
rawdata

,Unnamed: 0,2016.1,2016.2,2015.1,2015.2,2014.1,2014.2,2013.1,2013.2,2012.1,...,1979.1,1979.2,1978.1,1978.2,1977.1,1977.2,1976.1,1976.2,1975.1,1975.2
3,Afghanistan,3.2 [1.3-6.4],7.6 [4.3-12.4],3.0 [1.3-6.0],7.3 [4.1-11.8],2.8 [1.2-5.6],7.0 [4.0-11.3],2.7 [1.1-5.3],6.6 [3.8-10.7],2.5 [1.1-5.0],...,0.3 [0.1-0.8],1.0 [0.3-2.3],0.2 [0.1-0.7],0.9 [0.3-2.2],0.2 [0.0-0.7],0.9 [0.3-2.1],0.2 [0.0-0.7],0.8 [0.2-2.0],0.2 [0.0-0.6],0.8 [0.2-2.0]
4,Albania,21.6 [14.8-29.0],21.8 [15.3-28.9],20.9 [14.4-28.1],21.3 [15.1-28.1],20.2 [13.9-27.3],20.8 [14.9-27.4],19.5 [13.4-26.3],20.4 [14.6-26.7],18.8 [13.0-25.4],...,5.2 [2.3-9.6],9.3 [4.8-15.5],5.0 [2.1-9.4],9.1 [4.6-15.5],4.8 [2.0-9.3],8.9 [4.3-15.4],4.6 [1.8-9.2],8.8 [4.1-15.4],4.4 [1.7-9.2],8.6 [3.9-15.4]
5,Algeria,19.9 [13.6-27.1],34.9 [27.6-42.7],19.2 [13.2-26.1],34.2 [27.1-41.7],18.5 [12.7-25.0],33.6 [26.7-40.7],17.8 [12.3-24.1],32.9 [26.4-39.8],17.1 [11.9-23.2],...,3.4 [1.4-6.6],12.2 [6.9-18.9],3.2 [1.3-6.4],11.8 [6.5-18.6],3.1 [1.2-6.2],11.4 [6.2-18.4],2.9 [1.1-6.1],11.1 [5.8-18.2],2.8 [1.0-6.0],10.7 [5.5-18.0]
6,Andorra,25.9 [18.0-34.3],25.3 [17.7-33.7],25.5 [17.8-33.8],25.2 [17.7-33.4],25.2 [17.6-33.3],25.1 [17.8-33.1],24.8 [17.5-32.7],25.1 [17.8-32.8],24.5 [17.4-32.3],...,11.8 [6.4-18.4],18.0 [11.4-25.7],11.2 [6.0-18.0],17.5 [10.9-25.3],10.7 [5.6-17.4],16.9 [10.4-24.8],10.2 [5.2-16.9],16.4 [9.8-24.4],9.7 [4.7-16.3],15.8 [9.2-23.9]
7,Angola,4.0 [1.6-7.9],12.1 [6.8-19.0],3.8 [1.5-7.3],11.6 [6.5-18.2],3.6 [1.4-6.9],11.1 [6.2-17.5],3.3 [1.3-6.4],10.6 [6.0-16.7],3.1 [1.2-6.1],...,0.3 [0.1-1.0],1.7 [0.5-3.8],0.3 [0.1-0.9],1.6 [0.5-3.7],0.3 [0.0-0.9],1.5 [0.4-3.6],0.3 [0.0-0.9],1.4 [0.4-3.5],0.2 [0.0-0.8],1.4 [0.4-3.4]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela (Bolivarian Republic of),22.4 [16.4-28.9],28.6 [22.5-35.2],22.0 [16.2-28.2],28.3 [22.4-34.6],21.5 [16.0-27.4],27.9 [22.2-34.1],21.1 [15.8-26.8],27.6 [22.0-33.5],20.7 [15.5-26.2],...,7.2 [3.7-12.2],14.8 [8.9-21.7],6.9 [3.5-11.9],14.4 [8.4-21.4],6.6 [3.2-11.7],14.0 [8.0-21.3],6.3 [2.9-11.5],13.6 [7.5-21.0],5.9 [2.7-11.2],13.2 [7.1-20.7]
194,Viet Nam,1.6 [0.8-2.8],2.6 [1.5-4.2],1.5 [0.8-2.5],2.4 [1.4-3.9],1.3 [0.7-2.3],2.3 [1.3-3.6],1.2 [0.7-2.0],2.1 [1.3-3.3],1.1 [0.6-1.8],...,0.1 [0.0-0.2],0.3 [0.1-0.6],0.1 [0.0-0.2],0.2 [0.1-0.6],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.2],0.2 [0.1-0.5],0.1 [0.0-0.2],0.2 [0.1-0.5]
195,Yemen,12.0 [7.3-17.6],22.0 [16.0-28.4],11.4 [7.0-16.7],21.3 [15.6-27.4],10.8 [6.7-15.7],20.6 [15.2-26.4],10.3 [6.4-14.9],19.9 [14.7-25.5],9.7 [6.1-14.0],...,1.5 [0.5-3.5],5.0 [2.2-9.5],1.4 [0.4-3.4],4.8 [2.0-9.3],1.3 [0.4-3.3],4.5 [1.9-9.2],1.3 [0.3-3.2],4.3 [1.7-9.0],1.2 [0.3-3.1],4.2 [1.5-8.9]
196,Zambia,3.6 [1.7-6.5],12.4 [8.5-17.1],3.4 [1.6-6.1],12.0 [8.2-16.4],3.2 [1.5-5.7],11.5 [7.9-15.7],3.0 [1.5-5.4],11.1 [7.6-15.0],2.9 [1.4-5.1],...,0.6 [0.2-1.6],3.2 [1.5-5.8],0.6 [0.2-1.5],3.0 [1.3-5.6],0.5 [0.1-1.5],2.9 [1.2-5.4],0.5 [0.1-1.4],2.7 [1.1-5.3],0.5 [0.1-1.4],2.5 [1.0-5.1]
197,Zimbabwe,4.7 [2.5-8.0],25.3 [19.1-32.0],4.5 [2.4-7.6],24.8 [18.9-31.3],4.4 [2.4-7.3],24.4 [18.8-30.6],4.2 [2.3-6.9],23.9 [18.5-30.0],4.0 [2.2-6.6],...,0.6 [0.2-1.4],8.1 [4.3-13.4],0.5 [0.1-1.4],7.7 [3.9-13.1],0.5 [0.1-1.3],7.4 [3.6-12.7],0.5 [0.1-1.3],7.0 [3.3-12.4],0.4 [0.1-1.3],6.7 [3.0-12.2]

In [7]:
# Creating a table with country, year, obesity_rate
rawdata = rawdata.melt(id_vars=['Unnamed: 0'])
'''
Turn all column names into row entries under a new column name called 'variable'.  The column in 'id_vars' will remain unaffected.  Entries associated with column names --> row entries now stored under new column called 'value'.

Can rename default column names 'variable' and 'value' using optional arguments 'var_name=' and 'value_name=' respectively.
'''
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html
rawdata

                               Unnamed: 0 variable             value
0                             Afghanistan   2016.1     3.2 [1.3-6.4]
1                                 Albania   2016.1  21.6 [14.8-29.0]
2                                 Algeria   2016.1  19.9 [13.6-27.1]
3                                 Andorra   2016.1  25.9 [18.0-34.3]
4                                  Angola   2016.1     4.0 [1.6-7.9]
...                                   ...      ...               ...
16375  Venezuela (Bolivarian Republic of)   1975.2   13.2 [7.1-20.7]
16376                            Viet Nam   1975.2     0.2 [0.1-0.5]
16377                               Yemen   1975.2     4.2 [1.5-8.9]
16378                              Zambia   1975.2     2.5 [1.0-5.1]
16379                            Zimbabwe   1975.2    6.7 [3.0-12.2]

[16380 rows x 3 columns]

In [8]:
# Creating two new columns in dataframe.
# Storing the separated string into the new columns.
rawdata[['year','gender']] = rawdata.variable.str.split(pat='.', expand= True)
'''
pat= specifies the piece of str to split on.  If this optional arg     left out, function splits on white spaces.
expand= True, stores the separated str into two columns.  If False, both pieces of separated str stored in a list.
'''
# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
rawdata

,Unnamed: 0,variable,value,year,gender
0,Afghanistan,2016.1,3.2 [1.3-6.4],2016,1
1,Albania,2016.1,21.6 [14.8-29.0],2016,1
2,Algeria,2016.1,19.9 [13.6-27.1],2016,1
3,Andorra,2016.1,25.9 [18.0-34.3],2016,1
4,Angola,2016.1,4.0 [1.6-7.9],2016,1
...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),1975.2,13.2 [7.1-20.7],1975,2
16376,Viet Nam,1975.2,0.2 [0.1-0.5],1975,2
16377,Yemen,1975.2,4.2 [1.5-8.9],1975,2
16378,Zambia,1975.2,2.5 [1.0-5.1],1975,2
16379,Zimbabwe,1975.2,6.7 [3.0-12.2],1975,2

In [9]:
# Dropping the 'variable' column.
rawdata.drop('variable', axis= 1, inplace= True)
rawdata

                               Unnamed: 0             value  year gender
0                             Afghanistan     3.2 [1.3-6.4]  2016      1
1                                 Albania  21.6 [14.8-29.0]  2016      1
2                                 Algeria  19.9 [13.6-27.1]  2016      1
3                                 Andorra  25.9 [18.0-34.3]  2016      1
4                                  Angola     4.0 [1.6-7.9]  2016      1
...                                   ...               ...   ...    ...
16375  Venezuela (Bolivarian Republic of)   13.2 [7.1-20.7]  1975      2
16376                            Viet Nam     0.2 [0.1-0.5]  1975      2
16377                               Yemen     4.2 [1.5-8.9]  1975      2
16378                              Zambia     2.5 [1.0-5.1]  1975      2
16379                            Zimbabwe    6.7 [3.0-12.2]  1975      2

[16380 rows x 4 columns]

In [10]:
# Renaming column 'Unnamed: 0' to 'country'.
rawdata.rename(columns={'Unnamed: 0':'country'}, inplace= True)
rawdata

                                  country             value  year gender
0                             Afghanistan     3.2 [1.3-6.4]  2016      1
1                                 Albania  21.6 [14.8-29.0]  2016      1
2                                 Algeria  19.9 [13.6-27.1]  2016      1
3                                 Andorra  25.9 [18.0-34.3]  2016      1
4                                  Angola     4.0 [1.6-7.9]  2016      1
...                                   ...               ...   ...    ...
16375  Venezuela (Bolivarian Republic of)   13.2 [7.1-20.7]  1975      2
16376                            Viet Nam     0.2 [0.1-0.5]  1975      2
16377                               Yemen     4.2 [1.5-8.9]  1975      2
16378                              Zambia     2.5 [1.0-5.1]  1975      2
16379                            Zimbabwe    6.7 [3.0-12.2]  1975      2

[16380 rows x 4 columns]

In [11]:
'''
04/08/2021

Data cleaning further down the process revealed that column 'value' where continuous data for obesity(%) is stored also contains 'No data'.

Additionally, all entries with 'Sudan (former)' in the country column and year <= 2014 have entries in column 'value' formatted incorrectly. 

e.g.
3.5 [1.3-5.4] 4.5 [3.2-6.1]

Solution:
1. Drop all columns containing 'No data' in the 'value' column.
2. Write a function that applies changes that reformats all 'Sudan (former)', <= 2014 entries correctly.
3. Create enoough columns to contain all split entries.
'''
# Past solutions required manual data inspection to detect abnormalities.
'''
04/08/2021

# Changing max row display to manually inspect data.
pd.set_option('display.max_rows', 999)
pd.reset_option('display.max_rows')
'''
# New abnormality detection solution:
'''
04/14/2021

Entries in column 'value' should have a str length around 13 to 16.  Character lengths of 7 and 27 to 30 should let us know abnormalities exist in the data before proceeding with cleaning.
'''
# Checking unique str lengths in column 'value'.
rawdata.value.str.len().value_counts()

16    5852
13    5634
15    2417
14    2061
7      336
27      63
29       8
31       4
28       4
30       1
Name: value, dtype: int64

In [12]:
# Checking str entries in column 'value' that have a len() of 7.
rawdata[(rawdata.value.str.len() == 7)]

           country    value  year gender
112         Monaco  No data  2016      1
149     San Marino  No data  2016      1
162    South Sudan  No data  2016      1
165          Sudan  No data  2016      1
307         Monaco  No data  2016      2
...            ...      ...   ...    ...
16155        Sudan  No data  1975      1
16297       Monaco  No data  1975      2
16334   San Marino  No data  1975      2
16347  South Sudan  No data  1975      2
16350        Sudan  No data  1975      2

[336 rows x 4 columns]

In [13]:
# Checking total # of entries before removing entries with 'No data'.
rawdata.shape

(16380, 4)

In [14]:
# Total entries with 'No data' removed should equal 16044 entries.
rawdata = rawdata[(rawdata.value != 'No data')]
rawdata.shape

(16044, 4)

In [15]:
# Double checking that all 'No data' entries have been removed.
rawdata[(rawdata.value == 'No data')]

Empty DataFrame
Columns: [country, value, year, gender]
Index: []

In [16]:
# Checking str entries in column 'value' that have a len() of >= 27.
rawdata[(rawdata.value.str.len() >= 27)]

              country                            value  year gender
946    Sudan (former)      4.2 [2.1-7.3] 3.5 [1.6-6.2]  2014      1
1141   Sudan (former)  11.7 [7.4-17.4] 11.5 [7.4-17.1]  2014      2
1336   Sudan (former)      4.0 [2.0-6.8] 3.3 [1.6-5.9]  2013      1
1531   Sudan (former)  11.3 [7.2-16.6] 11.1 [7.1-16.5]  2013      2
1726   Sudan (former)      3.8 [2.0-6.5] 3.2 [1.5-5.6]  2012      1
...               ...                              ...   ...    ...
15571  Sudan (former)      2.0 [0.7-4.3] 2.0 [0.7-4.3]  1977      2
15766  Sudan (former)      0.7 [0.2-1.9] 0.4 [0.1-1.1]  1976      1
15961  Sudan (former)      1.9 [0.6-4.2] 1.9 [0.6-4.2]  1976      2
16156  Sudan (former)      0.7 [0.2-1.9] 0.3 [0.1-1.1]  1975      1
16351  Sudan (former)      1.7 [0.5-4.1] 1.8 [0.6-4.1]  1975      2

[80 rows x 4 columns]

In [17]:
# Splitting the 'value' column.
# Averages in one column, upper and lower values in their own columns.
# Columns 'extra1' and 'extra2' used to contain Sudan (former) entries.
rawdata[['obesity_rate', 'lower_upper', 'extra1', 'extra2']] = rawdata.value.str.split(pat=' ', expand=True)
'''
Optional arg n= limits the # of split outputs.  If get 'Columns must be same length as key' error, probably because multiple outputs when splitting.  Use n=1 to limit to two split outputs only.
'''
rawdata

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,country,value,year,gender,obesity_rate,lower_upper,extra1,extra2
0,Afghanistan,3.2 [1.3-6.4],2016,1,3.2,[1.3-6.4],None,None
1,Albania,21.6 [14.8-29.0],2016,1,21.6,[14.8-29.0],None,None
2,Algeria,19.9 [13.6-27.1],2016,1,19.9,[13.6-27.1],None,None
3,Andorra,25.9 [18.0-34.3],2016,1,25.9,[18.0-34.3],None,None
4,Angola,4.0 [1.6-7.9],2016,1,4.0,[1.6-7.9],None,None
...,...,...,...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),13.2 [7.1-20.7],1975,2,13.2,[7.1-20.7],None,None
16376,Viet Nam,0.2 [0.1-0.5],1975,2,0.2,[0.1-0.5],None,None
16377,Yemen,4.2 [1.5-8.9],1975,2,4.2,[1.5-8.9],None,None
16378,Zambia,2.5 [1.0-5.1],1975,2,2.5,[1.0-5.1],None,None
16379,Zimbabwe,6.7 [3.0-12.2],1975,2,6.7,[3.0-12.2],None,None

In [18]:
# Dropping the value column now that its entries have been split.
rawdata.drop('value', axis= 1, inplace= True)
rawdata

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,country,year,gender,obesity_rate,lower_upper,extra1,extra2
0,Afghanistan,2016,1,3.2,[1.3-6.4],None,None
1,Albania,2016,1,21.6,[14.8-29.0],None,None
2,Algeria,2016,1,19.9,[13.6-27.1],None,None
3,Andorra,2016,1,25.9,[18.0-34.3],None,None
4,Angola,2016,1,4.0,[1.6-7.9],None,None
...,...,...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),1975,2,13.2,[7.1-20.7],None,None
16376,Viet Nam,1975,2,0.2,[0.1-0.5],None,None
16377,Yemen,1975,2,4.2,[1.5-8.9],None,None
16378,Zambia,1975,2,2.5,[1.0-5.1],None,None
16379,Zimbabwe,1975,2,6.7,[3.0-12.2],None,None

In [19]:
'''
04/14/2021

To address the additional set of entries in 'Sudan (former)', I will take an average of the two lower values and the two upper values.  The new lower and upper values will then be used to calculate a new value for 'obesity_rate'.  Current obesity_rate values  for 'Sudan (former)' will be discarded.

For this reason, column 'extra1' will be dropped immediately.
'''
# Checking all 'Sudan (former)' entries.
rawdata[(rawdata.country == 'Sudan (former)')]

              country  year gender obesity_rate lower_upper extra1     extra2
166    Sudan (former)  2016      1          3.8   [1.8-7.0]   None       None
361    Sudan (former)  2016      2         12.4  [7.9-18.4]   None       None
556    Sudan (former)  2015      1          3.6   [1.7-6.6]   None       None
751    Sudan (former)  2015      2         12.0  [7.6-17.7]   None       None
946    Sudan (former)  2014      1          4.2   [2.1-7.3]    3.5  [1.6-6.2]
...               ...   ...    ...          ...         ...    ...        ...
15571  Sudan (former)  1977      2          2.0   [0.7-4.3]    2.0  [0.7-4.3]
15766  Sudan (former)  1976      1          0.7   [0.2-1.9]    0.4  [0.1-1.1]
15961  Sudan (former)  1976      2          1.9   [0.6-4.2]    1.9  [0.6-4.2]
16156  Sudan (former)  1975      1          0.7   [0.2-1.9]    0.3  [0.1-1.1]
16351  Sudan (former)  1975      2          1.7   [0.5-4.1]    1.8  [0.6-4.1]

[84 rows x 7 columns]

In [20]:
# Dropping column 'extra1'.
rawdata.drop('extra1', axis=1, inplace=True)
rawdata

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,country,year,gender,obesity_rate,lower_upper,extra2
0,Afghanistan,2016,1,3.2,[1.3-6.4],None
1,Albania,2016,1,21.6,[14.8-29.0],None
2,Algeria,2016,1,19.9,[13.6-27.1],None
3,Andorra,2016,1,25.9,[18.0-34.3],None
4,Angola,2016,1,4.0,[1.6-7.9],None
...,...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),1975,2,13.2,[7.1-20.7],None
16376,Viet Nam,1975,2,0.2,[0.1-0.5],None
16377,Yemen,1975,2,4.2,[1.5-8.9],None
16378,Zambia,1975,2,2.5,[1.0-5.1],None
16379,Zimbabwe,1975,2,6.7,[3.0-12.2],None

In [21]:
# Removing the square brackets from the lower and upper values.
'''
Multiple str methods can be used at once by chaining them together as shown below.
'''
rawdata.lower_upper = rawdata.lower_upper.str.lstrip('[').str.rstrip(']')
rawdata.extra2 = rawdata.extra2.str.lstrip('[').str.rstrip(']')
# rawdata
# rawdata[(rawdata.country == 'Sudan (former)')]

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\generic.py:5165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [22]:
# Splitting entries in lower_upper into their own columns.
rawdata[['lower','upper']] = rawdata.lower_upper.str.split(pat='-', expand=True)
rawdata

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,country,year,gender,obesity_rate,lower_upper,extra2,lower,upper
0,Afghanistan,2016,1,3.2,1.3-6.4,None,1.3,6.4
1,Albania,2016,1,21.6,14.8-29.0,None,14.8,29.0
2,Algeria,2016,1,19.9,13.6-27.1,None,13.6,27.1
3,Andorra,2016,1,25.9,18.0-34.3,None,18.0,34.3
4,Angola,2016,1,4.0,1.6-7.9,None,1.6,7.9
...,...,...,...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),1975,2,13.2,7.1-20.7,None,7.1,20.7
16376,Viet Nam,1975,2,0.2,0.1-0.5,None,0.1,0.5
16377,Yemen,1975,2,4.2,1.5-8.9,None,1.5,8.9
16378,Zambia,1975,2,2.5,1.0-5.1,None,1.0,5.1
16379,Zimbabwe,1975,2,6.7,3.0-12.2,None,3.0,12.2

In [23]:
# Dropping column lower_upper now that the values have been split.
rawdata.drop('lower_upper', axis=1, inplace=True)
rawdata

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,country,year,gender,obesity_rate,extra2,lower,upper
0,Afghanistan,2016,1,3.2,None,1.3,6.4
1,Albania,2016,1,21.6,None,14.8,29.0
2,Algeria,2016,1,19.9,None,13.6,27.1
3,Andorra,2016,1,25.9,None,18.0,34.3
4,Angola,2016,1,4.0,None,1.6,7.9
...,...,...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),1975,2,13.2,None,7.1,20.7
16376,Viet Nam,1975,2,0.2,None,0.1,0.5
16377,Yemen,1975,2,4.2,None,1.5,8.9
16378,Zambia,1975,2,2.5,None,1.0,5.1
16379,Zimbabwe,1975,2,6.7,None,3.0,12.2

In [24]:
# Splitting the Sudan lower and upper entries into their own columns.
rawdata[['sudan_lower','sudan_upper']] = rawdata.extra2.str.split(pat='-', expand=True)
rawdata[(rawdata.country == 'Sudan (former)')]

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,country,year,gender,obesity_rate,extra2,lower,upper,sudan_lower,sudan_upper
166,Sudan (former),2016,1,3.8,None,1.8,7.0,None,None
361,Sudan (former),2016,2,12.4,None,7.9,18.4,None,None
556,Sudan (former),2015,1,3.6,None,1.7,6.6,None,None
751,Sudan (former),2015,2,12.0,None,7.6,17.7,None,None
946,Sudan (former),2014,1,4.2,1.6-6.2,2.1,7.3,1.6,6.2
...,...,...,...,...,...,...,...,...,...
15571,Sudan (former),1977,2,2.0,0.7-4.3,0.7,4.3,0.7,4.3
15766,Sudan (former),1976,1,0.7,0.1-1.1,0.2,1.9,0.1,1.1
15961,Sudan (former),1976,2,1.9,0.6-4.2,0.6,4.2,0.6,4.2
16156,Sudan (former),1975,1,0.7,0.1-1.1,0.2,1.9,0.1,1.1
16351,Sudan (former),1975,2,1.7,0.6-4.1,0.5,4.1,0.6,4.1

In [25]:
# Dropping column 'extra2' now that the split has been done.
rawdata.drop('extra2', axis=1, inplace=True)
# rawdata
# rawdata[(rawdata.country == 'Sudan (former)')]

C:\Users\silas\AppData\Local\Programs\Python\Python38-32\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
# Checking the dtypes of all columns.
rawdata.dtypes

country         object
year            object
gender          object
obesity_rate    object
lower           object
upper           object
sudan_lower     object
sudan_upper     object
dtype: object

In [27]:
# Converting some of the columns to their appropriate dtypes.
# Method 1, using dicts: https://www.geeksforgeeks.org/change-data-type-for-one-or-more-columns-in-pandas-dataframe/
columns_to_convert = {'year':int,
    'gender':int,
    'obesity_rate':float,
    'lower':float,
    'upper':float,
    'sudan_lower':float,
    'sudan_upper':float}
rawdata = rawdata.astype(columns_to_convert)
rawdata.dtypes

country          object
year              int32
gender            int32
obesity_rate    float64
lower           float64
upper           float64
sudan_lower     float64
sudan_upper     float64
dtype: object

In [28]:
# Converting 'year' column to int dtype.
rawdata.year = rawdata.year.astype('int')
rawdata.dtypes

country          object
year              int32
gender            int32
obesity_rate    float64
lower           float64
upper           float64
sudan_lower     float64
sudan_upper     float64
dtype: object

In [29]:
# Converting 'gender' column to int dtype.
rawdata.gender = rawdata.gender.astype('int')
rawdata.dtypes

country          object
year              int32
gender            int32
obesity_rate    float64
lower           float64
upper           float64
sudan_lower     float64
sudan_upper     float64
dtype: object

In [30]:
'''
Now that lower, upper, sudan_lower, and sudan_upper entries are now floats, can proceed with averaging all 'Sudan (former)' lower and upper entries into a singular lower and singular upper value.  From there, we will calculate a new 'obesity_rate' for 'Sudan (former)' entries.
'''
# Checking 'sudan (former)' entries prior to change.
rawdata[(rawdata.country == 'Sudan (former)')]

,country,year,gender,obesity_rate,lower,upper,sudan_lower,sudan_upper
166,Sudan (former),2016,1,3.8,1.8,7.0,NaN,NaN
361,Sudan (former),2016,2,12.4,7.9,18.4,NaN,NaN
556,Sudan (former),2015,1,3.6,1.7,6.6,NaN,NaN
751,Sudan (former),2015,2,12.0,7.6,17.7,NaN,NaN
946,Sudan (former),2014,1,4.2,2.1,7.3,1.6,6.2
...,...,...,...,...,...,...,...,...
15571,Sudan (former),1977,2,2.0,0.7,4.3,0.7,4.3
15766,Sudan (former),1976,1,0.7,0.2,1.9,0.1,1.1
15961,Sudan (former),1976,2,1.9,0.6,4.2,0.6,4.2
16156,Sudan (former),1975,1,0.7,0.2,1.9,0.1,1.1
16351,Sudan (former),1975,2,1.7,0.5,4.1,0.6,4.1

In [31]:
# For entries where country is 'Sudan (former)' and year is <= 2014, average the value in column 'lower' with the value in 'sudan_lower', then replace the old average in column 'lower' with this new average.
rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'lower'] = (
    rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'lower'] + 
    rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'sudan_lower']
    )/2

rawdata[(rawdata.country == 'Sudan (former)')]

,country,year,gender,obesity_rate,lower,upper,sudan_lower,sudan_upper
166,Sudan (former),2016,1,3.8,1.80,7.0,NaN,NaN
361,Sudan (former),2016,2,12.4,7.90,18.4,NaN,NaN
556,Sudan (former),2015,1,3.6,1.70,6.6,NaN,NaN
751,Sudan (former),2015,2,12.0,7.60,17.7,NaN,NaN
946,Sudan (former),2014,1,4.2,1.85,7.3,1.6,6.2
...,...,...,...,...,...,...,...,...
15571,Sudan (former),1977,2,2.0,0.70,4.3,0.7,4.3
15766,Sudan (former),1976,1,0.7,0.15,1.9,0.1,1.1
15961,Sudan (former),1976,2,1.9,0.60,4.2,0.6,4.2
16156,Sudan (former),1975,1,0.7,0.15,1.9,0.1,1.1
16351,Sudan (former),1975,2,1.7,0.55,4.1,0.6,4.1

In [32]:
# For entries where country is 'Sudan (former)' and year is <= 2014, average the value in column 'upper' with the value in 'sudan_upper', then replace the old average in column 'upper' with this new average.
rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'upper'] = (
    rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'upper'] + 
    rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'sudan_upper']
    )/2

rawdata[(rawdata.country == 'Sudan (former)')]

,country,year,gender,obesity_rate,lower,upper,sudan_lower,sudan_upper
166,Sudan (former),2016,1,3.8,1.80,7.00,NaN,NaN
361,Sudan (former),2016,2,12.4,7.90,18.40,NaN,NaN
556,Sudan (former),2015,1,3.6,1.70,6.60,NaN,NaN
751,Sudan (former),2015,2,12.0,7.60,17.70,NaN,NaN
946,Sudan (former),2014,1,4.2,1.85,6.75,1.6,6.2
...,...,...,...,...,...,...,...,...
15571,Sudan (former),1977,2,2.0,0.70,4.30,0.7,4.3
15766,Sudan (former),1976,1,0.7,0.15,1.50,0.1,1.1
15961,Sudan (former),1976,2,1.9,0.60,4.20,0.6,4.2
16156,Sudan (former),1975,1,0.7,0.15,1.50,0.1,1.1
16351,Sudan (former),1975,2,1.7,0.55,4.10,0.6,4.1

In [33]:
# Dropping columns 'sudan_lower and 'sudan_upper'.
rawdata.drop(['sudan_lower','sudan_upper'], axis=1, inplace=True)
rawdata

,country,year,gender,obesity_rate,lower,upper
0,Afghanistan,2016,1,3.2,1.3,6.4
1,Albania,2016,1,21.6,14.8,29.0
2,Algeria,2016,1,19.9,13.6,27.1
3,Andorra,2016,1,25.9,18.0,34.3
4,Angola,2016,1,4.0,1.6,7.9
...,...,...,...,...,...,...
16375,Venezuela (Bolivarian Republic of),1975,2,13.2,7.1,20.7
16376,Viet Nam,1975,2,0.2,0.1,0.5
16377,Yemen,1975,2,4.2,1.5,8.9
16378,Zambia,1975,2,2.5,1.0,5.1
16379,Zimbabwe,1975,2,6.7,3.0,12.2

In [34]:
# Calculating new obesity_rate entries where country is 'Sudan (former)' and year is <= 2014.
rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'obesity_rate'] = (
    rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'lower'] + 
    rawdata.loc[(rawdata.country == 'Sudan (former)') & (rawdata.year <= 2014), 'upper']
    )/2

rawdata[(rawdata.country == 'Sudan (former)')]

              country  year  gender  obesity_rate  lower  upper
166    Sudan (former)  2016       1         3.800   1.80   7.00
361    Sudan (former)  2016       2        12.400   7.90  18.40
556    Sudan (former)  2015       1         3.600   1.70   6.60
751    Sudan (former)  2015       2        12.000   7.60  17.70
946    Sudan (former)  2014       1         4.300   1.85   6.75
...               ...   ...     ...           ...    ...    ...
15571  Sudan (former)  1977       2         2.500   0.70   4.30
15766  Sudan (former)  1976       1         0.825   0.15   1.50
15961  Sudan (former)  1976       2         2.400   0.60   4.20
16156  Sudan (former)  1975       1         0.825   0.15   1.50
16351  Sudan (former)  1975       2         2.325   0.55   4.10

[84 rows x 6 columns]

In [ ]:
# Exporting cleaned data  as .csv to do exploratory analysis separately.
rawdata.to_csv('data-explore1.csv', index=False)